<%= form_tag("/update", method: "get", :id => 'creep', remote:true) do %>
  <div class="form-group form-inline">
    <%= label_tag(:handle, "Enter a twitter handle to creep their tweets: @") %>
    <%= text_field_tag(:handle, 'GeorgeTakei',required: 'required', class: "form-control") %>
    <%= button_tag("Creep", class: "btn btn-default") %>
  </div>
<% end %>