<% if @tweets %>
$('#display_tweets').slideUp(function() {
  $('#display_tweets').html('<%= escape_javascript(render partial: 'tweets', locals: {tweets: @tweets}) %>').slideDown();
});
<% else %>
  $('#display_tweets').html("<div class=\"text-warning\">@<%= @handle %> is not a valid twitter account :(</div>")
<% end %>