---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=25&screen_name=jeremy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="xkhD6qg0r9AcU2A8NmBX5Dv58", oauth_nonce="cd10577f678362d56aadfd7b0e7f840f",
        oauth_signature="Nr7K8dp5J8T2sn9JTtCX4Nja9kI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1448257616", oauth_token="114293054-4QvyjjtaU3pEzGCcmiOR3fv4FBitZJu2QVj9Q8jF",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 23 Nov 2015 05:46:56 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 8b157250449930c3170f9cdcb61adf0e
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1448258516'
      X-Response-Time:
      - '92'
      X-Transaction:
      - b8b6e125c7885c4f
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Sun Nov 22 18:31:32 +0000 2015","id":668497053727637506,"id_str":"668497053727637506","text":"@TSA
        sometimes precheck gets colorful cards, sometimes we have to hold our boarding
        passes through detectors, why the disparity in process?","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":414331122,"in_reply_to_user_id_str":"414331122","in_reply_to_screen_name":"TSA","user":{"id":16,"id_str":"16","name":"Jeremy","screen_name":"jeremy","location":"Berkeley
        CA","description":"Lacking pretense isn''t always helpful in life. Since 2005.","url":"http:\/\/t.co\/CeB3C2Ft8M","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/CeB3C2Ft8M","expanded_url":"http:\/\/roadracefactory.com","display_url":"roadracefactory.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":12838,"friends_count":703,"listed_count":215,"created_at":"Tue
        Mar 21 21:00:55 +0000 2006","favourites_count":1481,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":6131,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"53545C","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme2\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme2\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/479486656722923520\/BQIG_TJY_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/479486656722923520\/BQIG_TJY_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/16\/1356417934","profile_link_color":"70A0DB","profile_sidebar_border_color":"E6E8EB","profile_sidebar_fill_color":"16112B","profile_text_color":"666666","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":{"id":"8fa6d7a33b83ef26","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/8fa6d7a33b83ef26.json","place_type":"city","name":"Paradise","full_name":"Paradise,
        NV","country_code":"US","country":"United States","contained_within":[],"bounding_box":{"type":"Polygon","coordinates":[[[-115.2092535,35.984784],[-115.0610763,35.984784],[-115.0610763,36.137145],[-115.2092535,36.137145]]]},"attributes":{}},"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"TSA","name":"TSA","id":414331122,"id_str":"414331122","indices":[0,4]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Fri
        Nov 20 23:39:44 +0000 2015","id":667849840693391360,"id_str":"667849840693391360","text":"Most
        unfortunately, the focus on aero has created ugly warts, like the door handle.
        Enzo would shit.  https:\/\/t.co\/4y9w4JL5E9","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_rep[...]
