<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="#"><%= image_tag 'logo', class: "pull-left" %><h3 class='pull-left'>TweetCreep</h3></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li>
          <% unless current_user.nil? %>
            <span style = "color:#fff">Creeping as <%= current_user.email unless current_user.nil? %>
            | <%= link_to('Logout', destroy_user_session_path, :method => :delete) %></span>
          <% end %>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
