<div class="masthead clearfix">
  <div class="inner">
    
    <h3 class="masthead-brand"><%= image_tag 'logo' %>TweetCreep</h3>
    <nav>
      <ul class="nav masthead-nav">
        <li>Creeping as <%= current_user.email %></li>
      </ul>
    </nav>
  </div>
</div>